h1{
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 100px;
  letter-spacing: -15px;
  margin-top: 200px;
}
.G{
  color: #1E90FF; /* DodgerBlue */
}
.o{
  color: #FF0000; /*Red*/
}
.o1{
  color: #FFD700; /*Gold*/
}
.g1{
  color: #1E90FF; /*DodgerBlue */
}
.l{
  color: #228B22; /*ForestGreen*/
}
.e{
  color: #FF0000; /*Red*/
}
.buttonn{
  border: 0px;
  size: 300px;
  color: grey;
}
#zonetext{
  width: 100px;
  border-radius: 8px;
  width: 600px;
  height: 30px;
  margin-top: -300px;
}
p{
  font-weight: -50px;
}
