.page{
  width: 700px;
  margin: auto;
  font-size: 16px;
  font-family: 'Source sans Pro', Calibri, Tahoma, sans-serif;
}
.infophoto{
  height: 240px;
  margin-bottom: 70px;
}
.info{
  float: left;
}
.photo{
  float: right;
}
.section{
  margin-bottom: 70px;
  text-align: justify;
}
.photocv{
  height: 230px;
  width: 170px;
  margin-top: 20px;
}
h2{
  font-size: 20px;
  color: #3388BB;
  text-transform: uppercase;
  border-bottom: 3px solid #3388DD;
}
.duree{
  font-weight: normal;
  font-style: italic;
  font-size: 16px;
}
p{
  size: 7px;
}
