body{
  background-color: rgba(50, 115, 220, 0.1);
}

#ideas{
  margin-left: 150px;
  margin-top: 100px;
  height: 25px;
  width: 300px;
  border-radius: 20px;
}

#submit{
  margin-left: 250px;
  margin-top: 20px;
  size: 200px;
  border-bottom: 10px;
  border-radius: 20px;
  margin-bottom: 50px;
  color: blue;
  text-decoration-color: white;
  text-transform: full-width;
}

p{
  font-weight: 40px;
  font-size: 20px;
  font-style: oblique;
}
